{% include 'skeletons/blocks/contactmodal.html' %}


<footer class="u-align-left u-black u-footer u-backlink u-clearfix" id="sec-5927">
  <div class="u-clearfix u-sheet u-sheet-1" 
  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
    <a href="{{url_for('home')}}" class="u-active-none u-border-2 u-border-grey-40 u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-none u-none u-text-grey-40 u-btn-1">
    Home</a>
    <a href="#top" class="u-active-none u-border-2 u-border-grey-40 u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-none u-none u-text-grey-40 u-btn-2">
    Top</a>
    <br>
  </div>
  <br>
  <br>
  <br> 
</footer>