<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    {% include 'skeletons/blocks/head.html' %}
  </head>
  <body class="u-body">
    {% include 'skeletons/blocks/header.html' %}
    <section class="u-align-center-xs u-black u-clearfix u-section-1" id="sec-ba9e">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-courier-new u-text u-text-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          {{error.title}}
        </h1>
        <center><p class="u-align-center-lg u-align-center-md u-align-center-sm u-custom-font u-font-courier-new u-text u-text-2" data-animation-name="jackInTheBox" data-animation-duration="1500" data-animation-delay="160" data-animation-direction="">
          {{error.desc}}
        </p></center>
        
        <a href="{{url_for("home")}}" data-page-id="43436132" class="u-btn u-button-style u-custom-font u-font-courier-new u-hover-grey-15 u-none u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="1300">Return</a>
      </div>
    </section>
  {% include 'skeletons/blocks/footer.html' %}
  </body>
</html>
