<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    {% include 'skeletons/blocks/head.html' %}
  </head>

<body data-home-page="index.html" data-home-page-title="index" class="u-black u-body">
  <section class="u-align-right-xs u-clearfix u-section-1" id="sec-e2a0">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center-xs u-align-left-sm u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-opacity u-opacity-25 u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-1">
          <a href="{{url_for('projects')}}" data-page-id="156389475" class="u-align-center u-border-0 u-btn u-button-style u-custom-font u-font-courier-new u-hover-grey-30 u-none u-text-body-alt-color u-text-hover-grey-60 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
            Projects</a>
          <a href="https://github.com/dan7x" class="u-active-none u-align-center-xs u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-grey-30 u-none u-text-body-alt-color u-text-hover-grey-60 u-btn-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="250" data-animation-direction="Down" target="_blank">
            GitHub<br>
          </a>
          <a href="{{url_for('construction')}}" data-page-id="1642917308" class="u-active-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-grey-30 u-none u-text-body-alt-color u-text-hover-grey-60 u-btn-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="500" data-animation-direction="Down">
            Course Notes</a>
          <a href="{{url_for('static', filename='daniel_xiao_resume.pdf')}}" target="blank" class="u-active-none u-align-left-xs u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-grey-30 u-none u-text-body-alt-color u-text-hover-grey-60 u-btn-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="750" data-animation-direction="Down">
            Resume</a>
          <a href="https://www.linkedin.com/in/daniel-xiao/" target="blank" class="u-active-none u-align-center-xs u-align-left-sm u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-grey-30 u-none u-text-body-alt-color u-text-hover-grey-60 u-btn-5" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="1000" data-animation-direction="Down">
            LinkedIn</a>
          <a href="#" id ="cinfo-popup" class="u-active-none u-align-center-xs u-align-left-sm u-btn u-btn-rectangle u-button-style u-custom-font u-font-courier-new u-hover-grey-30 u-none u-text-body-alt-color u-text-hover-grey-60 u-btn-6" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="1250" data-animation-direction="Down">
            Contact</a>
        </div>
      </div>
      <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-2">
        <div class="u-container-layout u-valign-top-xs u-container-layout-2">
          <p class="u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-font-courier-new u-text u-text-white u-text-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
            Daniel Xia​o</p>
          <h4 class="u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-font-courier-new u-text u-text-white u-text-2" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
            Computer Programmer and Student</h4>
          <p class="u-custom-font u-font-courier-new u-text u-text-white u-text-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="500" data-animation-direction="Left">{</p>
            <h4 class="u-custom-font u-font-courier-new u-text u-text-white u-text-4" data-animation-name="fadeIn" data-animation-duration="1250" data-animation-delay="150" data-animation-direction="Left">
              University of Waterloo Computer Science 2026</h4>
            <h4 class="u-custom-font u-font-courier-new u-text u-text-white u-text-5" data-animation-name="fadeIn" data-animation-duration="1250" data-animation-delay="300" data-animation-direction="Left">
              Wilfrid Laurier University BBA 2026</h4>
          </div>
        </div>
      </div>
    </section>

    {% include 'skeletons/blocks/contactmodal.html' %}

  </body>
  </html>
